<%= form_for(@producto_inmueble) do |f| %>
  <% if @producto_inmueble.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@producto_inmueble.errors.count, "error") %> prohibited this producto_inmueble from being saved:</h2>

      <ul>
      <% @producto_inmueble.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :producto %><br>
    <%= f.text_field :producto %>
  </div>
  <div class="field">
    <%= f.label :tipo_vivienda %><br>
    <%= f.text_field :tipo_vivienda %>
  </div>
  <div class="field">
    <%= f.label :construccion %><br>
    <%= f.text_field :construccion %>
  </div>
  <div class="field">
    <%= f.label :region %><br>
    <%= f.text_field :region %>
  </div>
  <div class="field">
    <%= f.label :ciudad %><br>
    <%= f.text_field :ciudad %>
  </div>
  <div class="field">
    <%= f.label :comuna %><br>
    <%= f.text_field :comuna %>
  </div>
  <div class="field">
    <%= f.label :calle %><br>
    <%= f.text_field :calle %>
  </div>
  <div class="field">
    <%= f.label :numero %><br>
    <%= f.number_field :numero %>
  </div>
  <div class="field">
    <%= f.label :fecha_inicio %><br>
    <%= f.date_select :fecha_inicio %>
  </div>
  <div class="field">
    <%= f.label :fecha_termino %><br>
    <%= f.date_select :fecha_termino %>
  </div>
  <div class="field">
    <%= f.label :nombre_comprador %><br>
    <%= f.text_field :nombre_comprador %>
  </div>
  <div class="field">
    <%= f.label :apellido_comprador %><br>
    <%= f.text_field :apellido_comprador %>
  </div>
  <div class="field">
    <%= f.label :rut_comprador %><br>
    <%= f.text_field :rut_comprador %>
  </div>
  <div class="field">
    <%= f.label :digito_verificador_comprador %><br>
    <%= f.text_field :digito_verificador_comprador %>
  </div>
  <div class="field">
    <%= f.label :email_comprador %><br>
    <%= f.text_field :email_comprador %>
  </div>
  <div class="field">
    <%= f.label :numero_comprador %><br>
    <%= f.text_field :numero_comprador %>
  </div>
  <div class="field">
    <%= f.label :nombre_asegurado %><br>
    <%= f.text_field :nombre_asegurado %>
  </div>
  <div class="field">
    <%= f.label :apellido_asegurado %><br>
    <%= f.text_field :apellido_asegurado %>
  </div>
  <div class="field">
    <%= f.label :rut_asegurado %><br>
    <%= f.text_field :rut_asegurado %>
  </div>
  <div class="field">
    <%= f.label :digito_verificador_asegurado %><br>
    <%= f.number_field :digito_verificador_asegurado %>
  </div>
  <div class="field">
    <%= f.label :email_asegurado %><br>
    <%= f.text_field :email_asegurado %>
  </div>
  <div class="field">
    <%= f.label :numero_asegurado %><br>
    <%= f.text_field :numero_asegurado %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
