<p id="notice"><%= notice %></p>

<p>
  <strong>Producto:</strong>
  <%= @producto_inmueble.producto %>
</p>

<p>
  <strong>Tipo vivienda:</strong>
  <%= @producto_inmueble.tipo_vivienda %>
</p>

<p>
  <strong>Construccion:</strong>
  <%= @producto_inmueble.construccion %>
</p>

<p>
  <strong>Region:</strong>
  <%= @producto_inmueble.region %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @producto_inmueble.ciudad %>
</p>

<p>
  <strong>Comuna:</strong>
  <%= @producto_inmueble.comuna %>
</p>

<p>
  <strong>Calle:</strong>
  <%= @producto_inmueble.calle %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @producto_inmueble.numero %>
</p>

<p>
  <strong>Fecha inicio:</strong>
  <%= @producto_inmueble.fecha_inicio %>
</p>

<p>
  <strong>Fecha termino:</strong>
  <%= @producto_inmueble.fecha_termino %>
</p>

<p>
  <strong>Nombre comprador:</strong>
  <%= @producto_inmueble.nombre_comprador %>
</p>

<p>
  <strong>Apellido comprador:</strong>
  <%= @producto_inmueble.apellido_comprador %>
</p>

<p>
  <strong>Rut comprador:</strong>
  <%= @producto_inmueble.rut_comprador %>
</p>

<p>
  <strong>Digito verificador comprador:</strong>
  <%= @producto_inmueble.digito_verificador_comprador %>
</p>

<p>
  <strong>Email comprador:</strong>
  <%= @producto_inmueble.email_comprador %>
</p>

<p>
  <strong>Numero comprador:</strong>
  <%= @producto_inmueble.numero_comprador %>
</p>

<p>
  <strong>Nombre asegurado:</strong>
  <%= @producto_inmueble.nombre_asegurado %>
</p>

<p>
  <strong>Apellido asegurado:</strong>
  <%= @producto_inmueble.apellido_asegurado %>
</p>

<p>
  <strong>Rut asegurado:</strong>
  <%= @producto_inmueble.rut_asegurado %>
</p>

<p>
  <strong>Digito verificador asegurado:</strong>
  <%= @producto_inmueble.digito_verificador_asegurado %>
</p>

<p>
  <strong>Email asegurado:</strong>
  <%= @producto_inmueble.email_asegurado %>
</p>

<p>
  <strong>Numero asegurado:</strong>
  <%= @producto_inmueble.numero_asegurado %>
</p>

<%= link_to 'Edit', edit_producto_inmueble_path(@producto_inmueble) %> |
<%= link_to 'Back', producto_inmuebles_path %>
