<div class="container">
  <h2>Agregar una empresa grande.</h2>
  <p>Ingrese los datos necesarios para agregar una nueva empresa grande.</p>




  <%= form_for(@empresas_grande) do |f| %>
  <% if @empresas_grande.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@empresas_grande.errors.count, "error") %> prohibited this empresas_grande from being saved:</h2>

      <ul>
      <% @empresas_grande.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre , :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :representante_legal_rut %><br>
    <%= f.text_field :representante_legal_rut , :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :dv %><br>
    <%= f.number_field :dv , :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image , :class => "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit 'Crear empresa grande', :class => 'btn btn-primary' %>
  </div>
<% end %>
</div>