
<style>

    .glyphicon {
        font-size: 40px;
    }

  .tabla
  {
      float: left;
      cursor: pointer;
      margin-right: 70px;
      margin-bottom: 30px;
      height: 160px;
      width: 100px;
  }

  .tabla:hover
  {
      color: #549dff;
  }
  .dentro
  {
      width: 80px;
      height: 80px;
      background: #638ff3;
      -moz-border-radius: 50px;
      -webkit-border-radius: 80px;
      border-radius: 80px;
      text-align: center;
      color: #ffffff;
      vertical-align: middle;
      display:table;
  }

</style>

<!-- 55px 0px 25px 200px; -->
<% if current_user.tipo ==1 %>
    <div class="container-fluid">
      <div class="row"  style="padding-left: 15%">


        <%= link_to(new_compania_seguro_path) do %>
        <table class="tabla">
          <tr>
            <td align="center"><div class="dentro">

              <i class="glyphicon glyphicon-tower" style="
              display:table-cell;
                      vertical-align: middle;"></i>

            </div></td>
          </tr>
          <tr>
            <td><h5 style="text-align: center"> Compañía de Seguros<br></h5></td>
          </tr>
        </table>
        <% end %>

        <%= link_to(new_usuario_path) do %>
            <table class="tabla">
              <tr>
                <td align="center"><div class="dentro">

                  <i class="glyphicon glyphicon-user" style="
                  display:table-cell;
                          vertical-align: middle;"></i>

                </div></td>
              </tr>
              <tr>
                <td><h5 style="text-align: center"> Nuevo Administrador<br></h5></td>
              </tr>
            </table>
        <% end %>
        <%= link_to(new_puntos_ventum_path) do %>
            <table class="tabla">
              <tr>
                <td align="center"><div class="dentro">

                  <i class="glyphicon glyphicon-home" style="
                  display:table-cell;
                          vertical-align: middle;"></i>

                </div></td>
              </tr>
              <tr>
                <td><h5 style="text-align: center"> Nuevo punto de venta<br></h5></td>
              </tr>
            </table>
        <% end %>
        <%= link_to(new_empresas_grande_path) do %>
            <table class="tabla">
              <tr>
                <td align="center"><div class="dentro">

                  <i class="glyphicon glyphicon-king" style="
                  display:table-cell;
                          vertical-align: middle;"></i>

                </div></td>
              </tr>
              <tr>
                <td><h5 style="text-align: center"> Nueva empresa grande<br></h5></td>
              </tr>
            </table>
        <% end %>
        <%= link_to(new_informacion_producto_path) do %>
            <table class="tabla">
              <tr>
                <td align="center"><div class="dentro">

                  <i class="glyphicon glyphicon-info-sign" style="
                  display:table-cell;
                          vertical-align: middle;"></i>

                </div></td>
              </tr>
              <tr>
                <td><h5 style="text-align: center"> Nueva información de productos</h5></td>
              </tr>
            </table>
        <% end %>

        <%= link_to(new_producto_tecnologium_path) do %>
            <table class="tabla">
              <tr>
                <td align="center"><div class="dentro">

                  <i class="glyphicon glyphicon-hdd" style="
                  display:table-cell;
                          vertical-align: middle;"></i>

                </div></td>
              </tr>
              <tr>
                <td><h5 style="text-align: center"> Nuevo producto tecnología</h5></td>
              </tr>
            </table>
        <% end %>

        <%= link_to(new_producto_persona_path) do %>
            <table class="tabla">
              <tr>
                <td align="center"><div class="dentro">

                  <i class="glyphicon glyphicon-alert" style="
                  display:table-cell;
                          vertical-align: middle;"></i>

                </div></td>
              </tr>
              <tr>
                <td><h5 style="text-align: center"> Nuevo producto personas</h5></td>
              </tr>
            </table>
        <% end %>

        <%= link_to(new_producto_vehiculo_path) do %>
            <table class="tabla">
              <tr>
                <td align="center"><div class="dentro">

                  <i class="glyphicon glyphicon-plane" style="
                  display:table-cell;
                          vertical-align: middle;"></i>

                </div></td>
              </tr>
              <tr>
                <td><h5 style="text-align: center"> Nuevo producto vehículos</h5></td>
              </tr>
            </table>
        <% end %>

        <%= link_to( new_producto_inmueble_path) do %>
            <table class="tabla">
              <tr>
                <td align="center"><div class="dentro">

                  <i class="fglyphicon glyphicon-tower" style="
                  display:table-cell;
                          vertical-align: middle;"></i>

                </div></td>
              </tr>
              <tr>
                <td><h5 style="text-align: center"> Nuevo producto inmuebles</h5></td>
              </tr>
            </table>
        <% end %>








      </div>

    </div>



<%  elsif current_user.tipo ==2 %>
    <%= link_to(new_usuario_path) do %>
        <table class="tabla">
          <tr>
            <td align="center"><div class="dentro">

              <i class="fa fa-user fa-5x" style="
              display:table-cell;
                      vertical-align: middle;"></i>

            </div></td>
          </tr>
          <tr>
            <td><h4>&nbsp Agregar vendedor</h4></td>
          </tr>
        </table>
    <% end %>
<% else current_user.tipo ==3 %>
    <div class="container-fluid">
      <h1>Vender un producto</h1>
      <p>Selecciona el tipo de producto que quieres vender.</p>


      <hr width="100%">

      <div class="container-fluid" style=" margin-bottom: 30px;
              box-shadow: 0px 0px 5px grey;
              border-radius: 8px;">

        <%= link_to(new_producto_persona_path) do %>
            <div

            class="row" style="cursor: pointer;"
            onmouseover="
            this.style.boxShadow='0px 0px 5px blue',
                    this.style.borderRadius='8px'
            "
            onmouseout="
            this.style.boxShadow=''

            ">

              <div class="col-sm-5">
                <h3>Personas</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit asdcrespt tru ansde asperas das...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
              </div>
              <div class="col-sm-7"
                   style="
                   background-image: url('<%= image_path("personas.png").to_s %>');
                           background-repeat: no-repeat;
                           background-position: right;
                           background-size: 430px 240px;"
              >
                <br><br><br><br><br><br><br><br><br><br><br>
              </div>
            </div>
        <% end %>


      </div>



      <div class="container-fluid" style=" margin-bottom: 30px;
              box-shadow: 0px 0px 5px grey;
              border-radius: 8px;">

        <%= link_to(new_producto_inmueble_path) do %>
            <div class="row" style="cursor: pointer;"
                 onmouseover="
                 this.style.boxShadow='0px 0px 5px blue',
                         this.style.borderRadius='8px'
                 "
                 onmouseout="
                 this.style.boxShadow=''

                 ">

              <div class="col-sm-5">
                <h3>Hogares</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit asdcrespt tru ansde asperas das...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
              </div>
              <div class="col-sm-7"
                   style="
                   background-image: url('<%= image_path("casa.png").to_s %>');
                           background-repeat: no-repeat;
                           background-position: right;
                           background-size: 430px 240px;"
              >
                <br><br><br><br><br><br><br><br><br><br><br>
              </div>
            </div>
        <% end %>
      </div>



      <div class="container-fluid" style=" margin-bottom: 30px;
              box-shadow: 0px 0px 5px grey;
              border-radius: 8px;">

        <%= link_to(new_producto_vehiculo_path) do %>
            <div class="row" style="cursor: pointer;"
                 onmouseover="
                 this.style.boxShadow='0px 0px 5px blue',
                         this.style.borderRadius='8px'
                 "
                 onmouseout="
                 this.style.boxShadow=''

                 ">

              <div class="col-sm-5">
                <h3>Vehículos</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit asdcrespt tru ansde asperas das...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
              </div>
              <div class="col-sm-7"
                   style="
                   background-image: url('<%= image_path("vehiculos.png").to_s %>');
                           background-repeat: no-repeat;
                           background-position: right;
                           background-size: 430px 240px;"
              >
                <br><br><br><br><br><br><br><br><br><br><br>
              </div>
            </div>
        <% end %>
      </div>



      <div class="container-fluid" style=" margin-bottom: 30px;
              box-shadow: 0px 0px 5px grey;
              border-radius: 8px;">

        <%= link_to(new_producto_tecnologium_path) do %>
            <div class="row" style="cursor: pointer;"
                 onmouseover="
                 this.style.boxShadow='0px 0px 5px blue',
                         this.style.borderRadius='8px'
                 "
                 onmouseout="
                 this.style.boxShadow=''

                 ">

              <div class="col-sm-5">
                <h3>Tecnológico</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit asdcrespt tru ansde asperas das...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
              </div>
              <div class="col-sm-7"
                   style="
                   background-image: url('<%= image_path("tecnologico.png").to_s %>');
                           background-repeat: no-repeat;
                           background-position: right;
                           background-size: 430px 240px;"
              >
                <br><br><br><br><br><br><br><br><br><br><br>
              </div>
            </div>
        <% end %>
      </div>




    </div>
<% end %>
