<div class="container" style="width:  100%">
  <h2>Vender un punto de venta.</h2>
  <p>Ingrese los datos necesarios para agregar un punto de venta .</p>



  <%= form_for(@puntos_ventum) do |f| %>
  <% if @puntos_ventum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@puntos_ventum.errors.count, "error") %> prohibited this puntos_ventum from being saved:</h2>

      <ul>
      <% @puntos_ventum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :ciudad %><br>
    <%= f.text_field :ciudad, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :comuna %><br>
    <%= f.text_field :comuna, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :rut %><br>
    <%= f.text_field :rut , :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :dv %><br>
    <%= f.number_field :dv , :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :calle %><br>
    <%= f.text_field :calle , :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :empresa_id %><br>
    <%= f.number_field :empresa_id , :class => "form-control" %>
  </div>

  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image , :class => "form-control" %>
  </div><br>
  <div class="actions">
    <%= f.submit 'Agregar punto de venta', :class => 'btn btn-primary' %>
  </div>
<% end %>

    </div>