<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @puntos_ventum.nombre %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @puntos_ventum.ciudad %>
</p>

<p>
  <strong>Comuna:</strong>
  <%= @puntos_ventum.comuna %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @puntos_ventum.rut %>
</p>

<p>
  <strong>Dv:</strong>
  <%= @puntos_ventum.dv %>
</p>

<p>
  <strong>Calle:</strong>
  <%= @puntos_ventum.calle %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @puntos_ventum.empresa_id %>
</p>

<p>
  <strong>Aux1:</strong>
  <%= @puntos_ventum.aux1 %>
</p>

<p>
  <strong>Aux2:</strong>
  <%= @puntos_ventum.aux2 %>
</p>

<p>
  <strong>Aux3:</strong>
  <%= @puntos_ventum.aux3 %>
</p>

<p>
  <strong>Image:</strong>
  <%= @puntos_ventum.image %>
</p>

<%= link_to 'Edit', edit_puntos_ventum_path(@puntos_ventum) %> |
<%= link_to 'Back', puntos_venta_path %>
