<p id="notice"><%= notice %></p>

<h1>Listing Producto Vehiculos</h1>

<table>
  <thead>
    <tr>
      <th>Producto</th>
      <th>Marca</th>
      <th>Modelos</th>
      <th>Anho</th>
      <th>Motor</th>
      <th>Patente</th>
      <th>Fecha inicio</th>
      <th>Fecha termino</th>
      <th>Nombre comprador</th>
      <th>Apellido comprador</th>
      <th>Rut comprador</th>
      <th>Digito verifiador comprador</th>
      <th>Email comprador</th>
      <th>Numero comprador</th>
      <th>Nombre asegurado</th>
      <th>Apellido asegurado</th>
      <th>Rut asegurado</th>
      <th>Digito verificador asegurado</th>
      <th>Email asegurado</th>
      <th>Numero asegurado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @producto_vehiculos.each do |producto_vehiculo| %>
      <tr>
        <td><%= producto_vehiculo.producto %></td>
        <td><%= producto_vehiculo.marca %></td>
        <td><%= producto_vehiculo.modelos %></td>
        <td><%= producto_vehiculo.anho %></td>
        <td><%= producto_vehiculo.motor %></td>
        <td><%= producto_vehiculo.patente %></td>
        <td><%= producto_vehiculo.fecha_inicio %></td>
        <td><%= producto_vehiculo.fecha_termino %></td>
        <td><%= producto_vehiculo.nombre_comprador %></td>
        <td><%= producto_vehiculo.apellido_comprador %></td>
        <td><%= producto_vehiculo.rut_comprador %></td>
        <td><%= producto_vehiculo.digito_verifiador_comprador %></td>
        <td><%= producto_vehiculo.email_comprador %></td>
        <td><%= producto_vehiculo.numero_comprador %></td>
        <td><%= producto_vehiculo.nombre_asegurado %></td>
        <td><%= producto_vehiculo.apellido_asegurado %></td>
        <td><%= producto_vehiculo.rut_asegurado %></td>
        <td><%= producto_vehiculo.digito_verificador_asegurado %></td>
        <td><%= producto_vehiculo.email_asegurado %></td>
        <td><%= producto_vehiculo.numero_asegurado %></td>
        <td><%= link_to 'Show', producto_vehiculo %></td>
        <td><%= link_to 'Edit', edit_producto_vehiculo_path(producto_vehiculo) %></td>
        <td><%= link_to 'Destroy', producto_vehiculo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Producto vehiculo', new_producto_vehiculo_path %>
