<p id="notice"><%= notice %></p>

<p>
  <strong>Producto:</strong>
  <%= @producto_vehiculo.producto %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @producto_vehiculo.marca %>
</p>

<p>
  <strong>Modelos:</strong>
  <%= @producto_vehiculo.modelos %>
</p>

<p>
  <strong>Anho:</strong>
  <%= @producto_vehiculo.anho %>
</p>

<p>
  <strong>Motor:</strong>
  <%= @producto_vehiculo.motor %>
</p>

<p>
  <strong>Patente:</strong>
  <%= @producto_vehiculo.patente %>
</p>

<p>
  <strong>Fecha inicio:</strong>
  <%= @producto_vehiculo.fecha_inicio %>
</p>

<p>
  <strong>Fecha termino:</strong>
  <%= @producto_vehiculo.fecha_termino %>
</p>

<p>
  <strong>Nombre comprador:</strong>
  <%= @producto_vehiculo.nombre_comprador %>
</p>

<p>
  <strong>Apellido comprador:</strong>
  <%= @producto_vehiculo.apellido_comprador %>
</p>

<p>
  <strong>Rut comprador:</strong>
  <%= @producto_vehiculo.rut_comprador %>
</p>

<p>
  <strong>Digito verifiador comprador:</strong>
  <%= @producto_vehiculo.digito_verifiador_comprador %>
</p>

<p>
  <strong>Email comprador:</strong>
  <%= @producto_vehiculo.email_comprador %>
</p>

<p>
  <strong>Numero comprador:</strong>
  <%= @producto_vehiculo.numero_comprador %>
</p>

<p>
  <strong>Nombre asegurado:</strong>
  <%= @producto_vehiculo.nombre_asegurado %>
</p>

<p>
  <strong>Apellido asegurado:</strong>
  <%= @producto_vehiculo.apellido_asegurado %>
</p>

<p>
  <strong>Rut asegurado:</strong>
  <%= @producto_vehiculo.rut_asegurado %>
</p>

<p>
  <strong>Digito verificador asegurado:</strong>
  <%= @producto_vehiculo.digito_verificador_asegurado %>
</p>

<p>
  <strong>Email asegurado:</strong>
  <%= @producto_vehiculo.email_asegurado %>
</p>

<p>
  <strong>Numero asegurado:</strong>
  <%= @producto_vehiculo.numero_asegurado %>
</p>

<%= link_to 'Edit', edit_producto_vehiculo_path(@producto_vehiculo) %> |
<%= link_to 'Back', producto_vehiculos_path %>
