<p id="notice"><%= notice %></p>

<p>
  <strong>Producto:</strong>
  <%= @producto_persona.producto %>
</p>

<p>
  <strong>Nombre comprador:</strong>
  <%= @producto_persona.nombre_comprador %>
</p>

<p>
  <strong>Apellido comprador:</strong>
  <%= @producto_persona.apellido_comprador %>
</p>

<p>
  <strong>Rut comprador:</strong>
  <%= @producto_persona.rut_comprador %>
</p>

<p>
  <strong>Digito verifiador comprador:</strong>
  <%= @producto_persona.digito_verifiador_comprador %>
</p>

<p>
  <strong>Email comprador:</strong>
  <%= @producto_persona.email_comprador %>
</p>

<p>
  <strong>Numero comprador:</strong>
  <%= @producto_persona.numero_comprador %>
</p>

<p>
  <strong>Nombre asegurado:</strong>
  <%= @producto_persona.nombre_asegurado %>
</p>

<p>
  <strong>Apellido asegurado:</strong>
  <%= @producto_persona.apellido_asegurado %>
</p>

<p>
  <strong>Rut asegurado:</strong>
  <%= @producto_persona.rut_asegurado %>
</p>

<p>
  <strong>Digito verificador asegurado:</strong>
  <%= @producto_persona.digito_verificador_asegurado %>
</p>

<p>
  <strong>Email asegurado:</strong>
  <%= @producto_persona.email_asegurado %>
</p>

<p>
  <strong>Numero asegurado:</strong>
  <%= @producto_persona.numero_asegurado %>
</p>

<p>
  <strong>Fecha inicio:</strong>
  <%= @producto_persona.fecha_inicio %>
</p>

<p>
  <strong>Fecha termino:</strong>
  <%= @producto_persona.fecha_termino %>
</p>

<%= link_to 'Edit', edit_producto_persona_path(@producto_persona) %> |
<%= link_to 'Back', producto_personas_path %>
