<p id="notice"><%= notice %></p>

<p>
  <strong>Producto:</strong>
  <%= @producto_tecnologium.producto %>
</p>

<p>
  <strong>Tipo producto:</strong>
  <%= @producto_tecnologium.tipo_producto %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @producto_tecnologium.marca %>
</p>

<p>
  <strong>Anho:</strong>
  <%= @producto_tecnologium.anho %>
</p>

<p>
  <strong>Fecha inicio:</strong>
  <%= @producto_tecnologium.fecha_inicio %>
</p>

<p>
  <strong>Fecha termino:</strong>
  <%= @producto_tecnologium.fecha_termino %>
</p>

<p>
  <strong>Nombre comprador:</strong>
  <%= @producto_tecnologium.nombre_comprador %>
</p>

<p>
  <strong>Apellido comprador:</strong>
  <%= @producto_tecnologium.apellido_comprador %>
</p>

<p>
  <strong>Rut comprador:</strong>
  <%= @producto_tecnologium.rut_comprador %>
</p>

<p>
  <strong>Digito verifiador comprador:</strong>
  <%= @producto_tecnologium.digito_verifiador_comprador %>
</p>

<p>
  <strong>Email comprador:</strong>
  <%= @producto_tecnologium.email_comprador %>
</p>

<p>
  <strong>Numero comprador:</strong>
  <%= @producto_tecnologium.numero_comprador %>
</p>

<p>
  <strong>Nombre asegurado:</strong>
  <%= @producto_tecnologium.nombre_asegurado %>
</p>

<p>
  <strong>Apellido asegurado:</strong>
  <%= @producto_tecnologium.apellido_asegurado %>
</p>

<p>
  <strong>Rut asegurado:</strong>
  <%= @producto_tecnologium.rut_asegurado %>
</p>

<p>
  <strong>Digito verificador asegurado:</strong>
  <%= @producto_tecnologium.digito_verificador_asegurado %>
</p>

<p>
  <strong>Email asegurado:</strong>
  <%= @producto_tecnologium.email_asegurado %>
</p>

<p>
  <strong>Numero asegurado:</strong>
  <%= @producto_tecnologium.numero_asegurado %>
</p>

<%= link_to 'Edit', edit_producto_tecnologium_path(@producto_tecnologium) %> |
<%= link_to 'Back', producto_tecnologia_path %>
