

<div class="container" style="width:  100%">
  <h2>Agregar información relacionada con un producto.</h2>
  <p>Ingrese los datos necesarios del nuevo producto que se agregará.</p>




  <%= form_for(@informacion_producto) do |f| %>
  <% if @informacion_producto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@informacion_producto.errors.count, "error") %> prohibited this informacion_producto from being saved:</h2>

      <ul>
      <% @informacion_producto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre , :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :tipo %><br>
    <%= f.select(:tipo, options_for_select(1..4), :class => "form-control") %>
  </div>
  <div class="field">
    <%= f.label :prima %><br>
    <%= f.number_field :prima , :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :valor_asegurado %><br>
    <%= f.number_field :valor_asegurado , :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :duracion_meses %><br>
    <%= f.number_field :duracion_meses , :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :aseguradora_responsable_id %><br>
    <%= f.select(:aseguradora_responsable_id, options_for_select(@compania_seguros.collect{ |u| [u.id] }), :class => "form-control") %>

  </div>

  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image , :class => "form-control" %>
  </div><br>
  <div class="actions">
    <%= f.submit 'Agregar  información de producto ', :class => 'btn btn-primary' %>
  </div>
<% end %>
</div>