<p id="notice"><%= notice %></p>

<h1>Listing Informacion Productos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Tipo</th>
      <th>Prima</th>
      <th>Valor asegurado</th>
      <th>Duracion meses</th>
      <th>Aseguradora responsable</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @informacion_productos.each do |informacion_producto| %>
      <tr>
        <td><%= informacion_producto.nombre %></td>
        <td><%= informacion_producto.tipo %></td>
        <td><%= informacion_producto.prima %></td>
        <td><%= informacion_producto.valor_asegurado %></td>
        <td><%= informacion_producto.duracion_meses %></td>
        <td><%= informacion_producto.aseguradora_responsable_id %></td>
        <td><%= link_to 'Show', informacion_producto %></td>
        <td><%= link_to 'Edit', edit_informacion_producto_path(informacion_producto) %></td>
        <td><%= link_to 'Destroy', informacion_producto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Informacion producto', new_informacion_producto_path %>
