<!DOCTYPE html>
<html>
<head>
  <title>Seguros</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <style>

    body
    {
        background: url('<%= image_path('MAINBACK.png').to_s %>') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    a {
        background-color: transparent;
        color: #2c2c2c;
    }
    a:hover {
        background-color: transparent;
        color: #2c2c2c;
    }
    a:visited {
        background-color: transparent;
        color: #2c2c2c;
    }

  </style>


</head>
<body>


<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1" ></div>
    <div class="col-sm-10"
         style=" background-color: #ffffff; box-shadow: 0px 0px 13px grey;
         r-radius: 8px;
         "
    >
      <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
          <br>
          <%= image_tag("logo.PNG", :size => '120x18')%>


        </div>
        <div class="col-sm-2">
          <br>

        </div>

        <div class="col-sm-8">
          <br>
          <% if current_user? %>
              <p class="text-right">Bienvenido <b><%= current_user.nombre %></b> | <%= link_to "Salir", session_path, method: :delete %></p>

          <% else %>
              <p class="text-right">No ha iniciado sesión</p>
          <% end %>


          <% if current_user.tipo ==1 %>

              <ul class="nav nav-pills">
                <li role="presentation"><a href="<%= inicio_path %>"><h4>Agregar datos</h4></a></li>
                <li role="presentation"><a href="#"><h4>Eliminar datos</h4></a></li>
              </ul>

          <%  elsif current_user.tipo ==2 %>
              <ul class="nav nav-pills">
                <li role="presentation"><a href="<%= inicio_path %>"><h4>Agregar vendedor</h4></a></li>
                <li role="presentation"><a href="<%= perfil_path %>"><h4>Inicio</h4></a></li>
                <li role="presentation"><a href="#"><h4>Estadísticas</h4></a></li>
              </ul>
          <% else current_user.tipo ==3 %>
              <ul class="nav nav-pills">
                <li role="presentation"><a href="<%= inicio_path %>"><h4>Vender</h4></a></li>
                <li role="presentation"><a href="#"><h4>Historial</h4></a></li>
                <li role="presentation"><a href="<%= perfil_path %>"><h4>Perfil</h4></a></li>
              </ul>
          <% end %>




        </div>


      </div>
      </div>

      <hr width="100%">
        <div style="width: 100%; display:inline-block;">

          <%= yield %>
        </div>
      <br><br>
    </div>

    <div class="col-sm-1" ></div>
  </div>

</div>
<br><br><br>


<!-- script references -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>



</body>
</html>
