


<div class="container" style="width:  100%">
  <h2>Agregar una compañía de seguros.</h2>
  <p>Ingrese los datos necesarios para agregar una nueva compañía de seguros.</p>





  <%= form_for(@compania_seguro) do |f| %>
      <% if @compania_seguro.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@compania_seguro.errors.count, "error") %> prohibited this compania_seguro from being saved:</h2>

            <ul>
              <% @compania_seguro.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="form-group">
        <%= f.label :nombre %><br>
        <%= f.text_field :nombre, :class => "form-control" %>
      </div>
      <div class="field">
        <%= f.label :rut %><br>
        <%= f.text_field :rut , :class => "form-control" %>
      </div>
      <div class="field">
        <%= f.label :dv %><br>
        <%= f.text_field :dv , :class => "form-control" %>
      </div>
      <div class="field">
        <%= f.label :banco %><br>
        <%= f.text_field :banco , :class => "form-control" %>
      </div>
      <div class="field">
        <%= f.label :cuenta_bancaria %><br>
        <%= f.text_field :cuenta_bancaria , :class => "form-control" %>
      </div>

      <div class="field">
        <%= f.label :image %><br>
        <%= f.text_field :image , :class => "form-control" %>
      </div>
      <br>
      <div class="actions">
        <%= f.submit 'Crear compañía de seguros', :class => 'btn btn-primary' %>
      </div>
  <% end %>


</div>






