<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @compania_seguro.nombre %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @compania_seguro.rut %>
</p>

<p>
  <strong>Dv:</strong>
  <%= @compania_seguro.dv %>
</p>

<p>
  <strong>Banco:</strong>
  <%= @compania_seguro.banco %>
</p>

<p>
  <strong>Cuenta bancaria:</strong>
  <%= @compania_seguro.cuenta_bancaria %>
</p>

<p>
  <strong>Aux1:</strong>
  <%= @compania_seguro.aux1 %>
</p>

<p>
  <strong>Aux2:</strong>
  <%= @compania_seguro.aux2 %>
</p>

<p>
  <strong>Aux3:</strong>
  <%= @compania_seguro.aux3 %>
</p>

<p>
  <strong>Image:</strong>
  <%= @compania_seguro.image %>
</p>

<%= link_to 'Edit', edit_compania_seguro_path(@compania_seguro) %> |
<%= link_to 'Back', compania_seguros_path %>
